.header {
	padding: 2.5rem 2.5rem 4.75rem;
	text-align: center;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
	color: var(--darkBlue);
}

@media screen and (width>768px) {
	.header {
		width: 37rem;
		margin-inline: auto;
	}
}

.titleBold,
.titleLight {
	margin-block: 0 0.5rem;
	font-size: var(--fontM);
	font-weight: var(--fontBold);
}

.titleLight {
	font-weight: var(--fontLight);
}

.text {
	font-size: var(--fontXS);
	opacity: 0.5;
}
